body {
  margin: 20px;
  font-family: sans-serif;
  background-color: #fff;
}
a{
  text-decoration: none;
  color: #000000;
}
button {
  border: none;
  background-color: lightblue;
  color: #fff;
  width: 100px;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button a {
  text-decoration: none;
  color: #fff;
}

button:hover {
  background-color: #004F99;
}
.login {
  border-radius: 10px;
  margin: 50px;
  padding: 40px;
  background-color: #fff;
}

.login h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 10px lightblue;
}

h2 {
  text-align: center;

}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  margin-bottom: 10px;
}
